# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# AWS / credentials
*.pem
*.key
.aws/

# VSCode
.vscode/

# LocalStack / Docker
localstack/
localstack_data/
LS_TOKEN=ls-yiLatazO-6832-wOrA-TIgI-Cito4778a78f

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.pyc

# Environment variables
.env
*.env

